main {
    flex-direction: row;
    align-items: center;
    width: auto;
    border: 10px outset rgba(76, 143, 255, 1);
    background: linear-gradient(to right, #70cf96, #45afcf, #75be39);
}

.account-image {
    margin-right: 100px;
}

.account-image>img {
    width: 320px;
    height: auto;
}

main .details {
    padding: 40px;
    color: whitesmoke;
}

.details p {
    font-weight: bold;
    font-size: 1.6em;
    margin-left: 5px;
}

.details ul {
    list-style: none;
    font-size: 1.2em;
}

.details li {
    margin-top: 10px;
    line-height: 1.3em;
}

.details a {
    display: inline;
    width: 100%;
    height: auto;
}

.details a:link {
    color: rgb(13, 89, 175);
    text-decoration: none;
}

.details a:visited {
    color: rgb(199, 75, 137);
}

.details a:hover {
    color: hotpink;
}

.label {
    font-weight: bolder;
}

@media only screen and (max-width: 1098px) {
    .details p {
        font-size: 1.3em;
    }
    .details ul {
        font-size: 1em;
    }
}

@media only screen and (max-width: 1030px) {
    .account-image {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 942px) {
    .account-image {
        margin-right: 10px;
    }
    .details p {
        font-size: 1.3em;
    }
    .details ul {
        font-size: 1em;
    }
}

@media only screen and (max-width: 920px) {
    main {
        justify-content: center;
    }
    .account-image {
        margin-right: 0px;
    }
    .details {
        border-top: 10px double rgb(32, 126, 32);
        width: 100%;
    }
    .details p {
        font-weight: bold;
        font-size: 1.6em;
    }
    .details ul {
        list-style: none;
        font-size: 1em;
    }
}

@media only screen and (max-width: 400px) {
    .details li {
        margin-top: 15px;
    }
    
}