main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: linear-gradient(to right, rgba(54, 209, 220, 0.5), rgba(91, 134, 229, 0.85));
}

h3 {
    width: 100%;
    font-size: 2.3em;
    text-align: center;
}

pre {
    display: block;
    font-family: Arial !important;
    white-space: pre-wrap;
    line-height: 1.5rem;
}

p {
    font-family: sans-serif;
    font-size: 1em;
    margin-top: 55px;
}

.main-ul {
    display: block;
    list-style-type: circle;
}

.main-ul li {
    line-height: 2rem;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.contribute-page-link {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .main-ul li {
        line-height: 1.2rem;
        font-size: 1rem;
    }
}