.footer-nav {
    background-color: rgb(37, 55, 77);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0 20px 0;
}

.footer-nav ul {
    list-style-type: none;
}

.footer-nav li {
    display: inline-flex;
    margin-right: 50px;
}

.footer-nav a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
}

.footer-nav span {
    display: block;
}

.footer-nav img {
    width: 30px;
}

.footer-nav img:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 600px) {
    .footer-nav {
        align-items: unset;
        padding: 5px 0 5px 0;
    }
    .footer-nav li {
        display: block;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
    .footer-nav li:last-child {
        margin-bottom: 0;
    }
    .footer-nav span {
        display: inline-block;
    }
    .footer-nav img {
        position: relative;
        top: 7px;
        right: 13px;
    }
}