header {
  position: sticky;
  top: 0;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(25, 101, 163);
  padding: 10px;
  z-index: 1;
}

.logo-img {
  margin-left: 50px;
  width: 100px;
}

.notifications-img, .profile-img {
  width: 35px;
}

.profile-img {
  margin-right: 50px;
}

.first-nav {
  display: flex;
}

.first-nav-list, .second-nav-list {
  list-style-type: none;
}

.second-nav-list {
  margin: 0;
}

.first-nav-list {
  margin-right: 50px;
}

.first-nav-list a {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}

.first-nav-list a:hover, .second-nav-list a:hover {
  opacity: 0.7;
}

.first-nav-list li, .second-nav-list li {
  display: inline-flex;
  margin-left: 50px;
}

@media only screen and (max-width: 600px) {
  .logo-img {
    padding-top: 15px;
  }
  .profile-img {
    margin-right: 50px;
  }
  .first-nav-list li {
    display: block;
  }
}

.not-active {
  pointer-events: none;
  opacity: 0.5;
}