main {
    border: 10px outset rgba(76, 143, 255, 1);
    background: linear-gradient(to right, #36d1dc, #5b86e5);
}

main img {
    width: 59%;
    margin: 0;
    padding: 0;
}

main .content {
    width: 40%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
}

.main-title {
    font-size: 3rem;
    font-weight: 600;
    text-shadow: -6px 5px 4px rgba(76, 143, 255, 0.8);
}

.main-subtitle {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
}

.main-title, .main-subtitle {
    color: antiquewhite;
}

.main-profile-icon {
    width: 90px;
    height: 90px;
    background-image: url('../resources/jpg/profile-face-icon-min.jpg');
    background-size: cover;
    border-radius: 50%;
}

.content>button {
    color: rgb(151, 39, 192);
    margin-top: 30px;
    border-radius: 50%;
    background-color: antiquewhite;
    padding: 12px 25px 12px 25px;
    font-size: 0.8em;
    font-weight: lighter;
    transition: .2s linear;
    letter-spacing: 2px;
}

.content>button:hover {
    background-color: rgba(229, 213, 190, 0.9);
    transform: skewX(20deg);
}

@media only screen and (max-width: 1037px) {
    main>img {
        width: 100%;
    }
    main .content {
        width: 100%;
        height: 20rem;
        padding: 10px 0;
    }
}

@media only screen and (max-width: 400px) {
    .main-title {
        font-size: 2em;
    }
    .main-profile-icon {
        width: 100px;
        height: 100px;
    }
}