.grid-container {
    display: flexx;
    /* grid-template-columns: auto auto;
    grid-template-rows: auto auto; */
    flex-wrap: wrap;
    background: linear-gradient(to bottom right, #9cecfb, #65c7f7, #0052d4);
    padding: 20px 10px;
    grid-gap: 2rem;
    justify-content: center;
    margin: 0;
}

.grid-item {
    
    /* width: auto; */
    text-align: center;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.grid-item img {
    height: 370px;
}

#btn-top {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 1;
    border: none;
    background-color: rgba(76, 143, 255, 1);
    color: whitesmoke;
    cursor: pointer;
    padding: 15px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    font-size: 18px;
}

#btn-top:hover {
    background-color: #555;
}

@media only screen and (max-width: 609px) {
    .grid-item img {
        height: 270px;
    }
}

@media only screen and (max-width: 609px) {
    .grid-item img {
        height: 270px;
    }
}

@media only screen and (max-width: 450px) {
    .grid-item img {
        height: 240px;
    }
}

@media only screen and (max-width: 360px) {
    .grid-item img {
        height: 220px;
    }
}